Json/admin.json
{
  "name": "admin",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1JQIEu8vcwteRopkAzGlBRjmu7WPbjGq2YwLwHC7Xnf8",
          "mode": "list",
          "cachedResultName": "From- IT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JQIEu8vcwteRopkAzGlBRjmu7WPbjGq2YwLwHC7Xnf8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1095979105,
          "mode": "list",
          "cachedResultName": "การตอบแบบฟอร์ม 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JQIEu8vcwteRopkAzGlBRjmu7WPbjGq2YwLwHC7Xnf8/edit#gid=1095979105"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "dda54707-19d3-494c-9baa-a3eba37af49b",
      "name": "Google Sheets Trigger1",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "FsFWW6XP91FTS3ih",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const j = item.json;\n\n  const clean = (s) =>\n    String(s || \"\")\n      .replace(/[\\s\\u200B-\\u200D\\uFEFF]/g, \"\")\n      .toLowerCase();\n\n  const findValue = (keywordGroups, fallback = \"-\") => {\n    const keys = Object.keys(j);\n    for (const key of keys) {\n      const ck = clean(key);\n      const matched = keywordGroups.some((group) =>\n        group.every((kw) => ck.includes(clean(kw)))\n      );\n      if (matched) {\n        const v = j[key];\n        if (v !== undefined && v !== null && String(v).trim() !== \"\") {\n          return String(v).trim();\n        }\n      }\n    }\n    return fallback;\n  };\n\n  const fullname = findValue([[\"ชื่อ\"], [\"นามสกุล\"]], \"-\");\n  const company = findValue([[\"บริษัท\"], [\"หน่วยงาน\"]], \"-\");\n  const phone = findValue([[\"เบอร์\", \"โทร\"], [\"โทรศัพท์\"], [\"เบอร์โทร\"]], \"-\");\n  const itemName = findValue([[\"รายชื่อ\", \"อุปกรณ์\"], [\"อุปกรณ์\"]], \"-\");\n  const quantity = findValue([[\"จำนวน\", \"เบิก\"], [\"จำนวน\"]], \"-\");\n  const emailUser = findValue([[\"email\"], [\"อีเมล\"]], \"-\");\n  const reason = findValue([[\"เหตุผล\", \"เบิก\"], [\"เหตุผล\"]], \"-\");\n\n  let requestDate = findValue([[\"ประทับเวลา\"], [\"วันที่\"], [\"timestamp\"]], \"-\");\n  const serial = Number(requestDate);\n  if (!Number.isNaN(serial) && serial > 1000) {\n    const excelEpoch = new Date(1899, 11, 30);\n    const dt = new Date(excelEpoch.getTime() + serial * 86400000);\n    requestDate = dt.toLocaleString(\"th-TH\");\n  }\n\n  const status = findValue([[\"สถานะ\", \"คำขอ\"], [\"สถานะ\"]], \"รออนุมัติ\");\n\n  j.mailToAdmin = \"sakkarat.tai@gmail.com\"; // เปลี่ยนเป็นเมลแอดมินจริงได้\n  j.mailSubjectAdmin = \"มีคำขอเบิกใหม่ รออนุมัติ\";\n  j.mailBodyAdmin =\n`มีคำขอเบิกใหม่เข้าระบบ\n\nวันที่: ${requestDate}\nชื่อ-นามสกุล: ${fullname}\nบริษัท/หน่วยงาน: ${company}\nเบอร์โทร: ${phone}\nรายการอุปกรณ์: ${itemName}\nจำนวนที่เบิก: ${quantity}\nอีเมลผู้ขอ: ${emailUser}\nเหตุผลการเบิก: ${reason}\nสถานะคำขอ: ${status}\n\nกรุณาเข้าเว็บ Admin เพื่ออนุมัติ`;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "68a4099c-ad3b-44a0-ba7f-7607b373e2a8",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.mailToAdmin }}",
        "subject": "={{$json.mailSubjectAdmin}}",
        "emailType": "text",
        "message": "={{ $json.mailBodyAdmin }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "2a85898b-baa7-41e5-849f-a6ad6338bcbc",
      "name": "Send a message1",
      "webhookId": "d456d432-7996-4809-ad66-73cb6c51787d",
      "credentials": {
        "gmailOAuth2": {
          "id": "B1y4g9VhhdtsocB1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "Flow-1 : รับคำขอเบิกและแจ้งadmin",
        "height": 80,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        16
      ],
      "typeVersion": 1,
      "id": "bac35667-950d-41ed-9bb2-d500fa892670",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1JQIEu8vcwteRopkAzGlBRjmu7WPbjGq2YwLwHC7Xnf8",
          "mode": "list",
          "cachedResultName": "From- IT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JQIEu8vcwteRopkAzGlBRjmu7WPbjGq2YwLwHC7Xnf8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1095979105,
          "mode": "list",
          "cachedResultName": "การตอบแบบฟอร์ม 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JQIEu8vcwteRopkAzGlBRjmu7WPbjGq2YwLwHC7Xnf8/edit#gid=1095979105"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "981d534e-9840-4731-a9fe-3021bc229d5c",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "FsFWW6XP91FTS3ih",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const j = item.json;\n\n  const clean = (s) =>\n    String(s || \"\")\n      .replace(/[\\s\\u200B-\\u200D\\uFEFF]/g, \"\")\n      .toLowerCase();\n\n  const findValue = (keywordGroups, fallback = \"-\") => {\n    const keys = Object.keys(j);\n    for (const key of keys) {\n      const ck = clean(key);\n      const matched = keywordGroups.some((group) =>\n        group.every((kw) => ck.includes(clean(kw)))\n      );\n      if (matched) {\n        const v = j[key];\n        if (v !== undefined && v !== null && String(v).trim() !== \"\") {\n          return String(v).trim();\n        }\n      }\n    }\n    return fallback;\n  };\n\n  const fullname = findValue([[\"ชื่อ\"], [\"นามสกุล\"]], \"\");\n  const company = findValue([[\"บริษัท\"], [\"หน่วยงาน\"]], \"-\");\n  const phone = findValue([[\"เบอร์\", \"โทร\"], [\"โทรศัพท์\"], [\"เบอร์โทร\"]], \"-\");\n  const itemName = findValue([[\"อุปกรณ์\"]], \"-\");\n  const quantity = findValue([[\"จำนวน\"]], \"-\");\n  const email = findValue([[\"email\"]], \"\");\n\n  // วันที่\n  let requestDate = findValue([[\"ประทับเวลา\"], [\"วันที่\"]], \"\");\n  const serial = Number(requestDate);\n  if (!Number.isNaN(serial) && serial > 1000) {\n    const excelEpoch = new Date(1899, 11, 30);\n    const dt = new Date(excelEpoch.getTime() + serial * 86400000);\n    requestDate = dt.toLocaleString(\"th-TH\");\n  }\n\n  const status = findValue([[\"สถานะ\"], [\"คำขอ\"]], \"Pending\");\n\n  j.mailTo = email;\n  j.mailSubject = \"แจ้งสถานะคำขอเบิกอุปกรณ์: รออนุมัติ\";\n  j.mailBody =\n`เรียน ${fullname}\n\nระบบได้รับคำขอเบิกอุปกรณ์ของคุณเรียบร้อยแล้ว\n\nวันที่: ${requestDate}\nบริษัท/หน่วยงาน: ${company}\nเบอร์โทร: ${phone}\nรายการอุปกรณ์: ${itemName}\nจำนวนที่เบิก: ${quantity}\nสถานะคำขอ: ${status}\n\nขอบคุณครับ`;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        208
      ],
      "id": "f5976ac3-eae9-4b09-a7e1-94181aae4134",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "={{$json.mailTo}}",
        "subject": "={{ $json.mailSubject }}",
        "emailType": "text",
        "message": "={{$json.mailBody}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        208
      ],
      "id": "b2f3bf32-6f11-453e-9bd4-331fe529673f",
      "name": "Send a message",
      "webhookId": "d456d432-7996-4809-ad66-73cb6c51787d",
      "credentials": {
        "gmailOAuth2": {
          "id": "B1y4g9VhhdtsocB1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "Flow-2 : รับคำขอเบิกและแจ้งuser\n",
        "height": 80,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        224
      ],
      "typeVersion": 1,
      "id": "fd7e54bc-fb80-482f-9f89-e5f1b18ace35",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "path": "data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        624
      ],
      "id": "81878eec-d9f2-4e43-b933-71e0cc8a2004",
      "name": "Webhook",
      "webhookId": "8688a68f-af6f-4a2a-abb7-1ccfa7e361dd"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JQIEu8vcwteRopkAzGlBRjmu7WPbjGq2YwLwHC7Xnf8",
          "mode": "list",
          "cachedResultName": "From- IT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JQIEu8vcwteRopkAzGlBRjmu7WPbjGq2YwLwHC7Xnf8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1095979105,
          "mode": "list",
          "cachedResultName": "การตอบแบบฟอร์ม 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JQIEu8vcwteRopkAzGlBRjmu7WPbjGq2YwLwHC7Xnf8/edit#gid=1095979105"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        624
      ],
      "id": "35c5101e-a682-47a6-b948-747131b2a29a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Tzz5Vd3Wv2So8AFb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59732fea-b35d-4427-9531-696437338fe2",
              "name": "timestamp",
              "value": "={{$json[\"ประทับเวลา\"] \n\n $json[\"วันที่\"] \n\n \"-\"}}",
              "type": "string"
            },
            {
              "id": "85186bd9-9ae8-40e1-91f3-783b7a9d4a5e",
              "name": "fullname",
              "value": "={{$json[\"ชื่อ-นามสกุล\"] \n\n \"-\"}}",
              "type": "string"
            },
            {
              "id": "382a768c-26d1-4c9d-80e3-a3d51d39af8d",
              "name": "company",
              "value": "={{ (Object.keys($json).find(k => /บริษัท|หน่วยงาน/i.test(k.replace(/\\s/g,\"\"))) && $json[Object.keys($json).find(k => /บริษัท|หน่วยงาน/i.test(k.replace(/\\s/g,\"\")))]) || \"-\" }}",
              "type": "string"
            },
            {
              "id": "5029e839-3768-4415-873a-4263c572cb69",
              "name": "phone",
              "value": "={{$json[\"เบอร์โทร\"] || $json[\"เบอร์โทรศัพท์\"] || \"-\"}}",
              "type": "string"
            },
            {
              "id": "38e269b9-cd53-4c28-a25b-e0a332f3c157",
              "name": "email",
              "value": "={{$json[\"Email\"] \n\n $json[\"email\"] \n\n \"-\"}}",
              "type": "string"
            },
            {
              "id": "ffb98ecc-4f82-4877-b9ba-9fc823ba4fdd",
              "name": "itemName",
              "value": "={{$json[\"รายชื่ออุปกรณ์\"] \n\n $json[\"รายชื่อ - อุปกรณ์\"] \n\n \"-\"}}",
              "type": "string"
            },
            {
              "id": "98ec57ca-0c20-424d-a011-1a08c1a173f8",
              "name": "quantity",
              "value": "={{Number($json[\"จำนวนที่เบิก\"] || 0)}}",
              "type": "number"
            },
            {
              "id": "d40ff7d2-c91f-4904-91e6-520a75a6eb4d",
              "name": "reason",
              "value": "={{$json[\"เหตุผลการเบิก\"] \n\n $json[\"เหตุผล\"] \n\n \"-\"}}",
              "type": "string"
            },
            {
              "id": "7bdae9b7-f3cb-45ee-ba8c-a2af94807896",
              "name": "status",
              "value": "={{$json[\"สถานะคำขอ\"] \n\n $json[\"สถานะ\"] \n\n \"รออนุมัติ\"}}",
              "type": "string"
            },
            {
              "id": "d8213968-421f-441a-96ff-b426a00d6e9e",
              "name": "approvedBy",
              "value": "=={{$json[\"ผู้อนุมัติ\"] || \"-\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        624
      ],
      "id": "ce0bac78-b5e0-4546-acfd-59c56996c61b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        576,
        624
      ],
      "id": "9081124c-f3f8-477d-aac9-0c4b7dbdfb82",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "Flow- : แสดงข้อมูลการเบิกบนเว็บ\n\n",
        "height": 80,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        640
      ],
      "typeVersion": 1,
      "id": "2550cefa-5957-4724-bb50-8f1ff42efb2b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "path": "return-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        832
      ],
      "id": "a12cda5d-11e0-43a9-bca6-559712d85ff9",
      "name": "Webhook1",
      "webhookId": "8688a68f-af6f-4a2a-abb7-1ccfa7e361dd"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JQIEu8vcwteRopkAzGlBRjmu7WPbjGq2YwLwHC7Xnf8",
          "mode": "list",
          "cachedResultName": "From- IT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JQIEu8vcwteRopkAzGlBRjmu7WPbjGq2YwLwHC7Xnf8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2049651687,
          "mode": "list",
          "cachedResultName": "คืนอุปกรณ์",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JQIEu8vcwteRopkAzGlBRjmu7WPbjGq2YwLwHC7Xnf8/edit#gid=2049651687"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        832
      ],
      "id": "4c4a72df-4518-4592-8b15-dacb1ec675f6",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Tzz5Vd3Wv2So8AFb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59732fea-b35d-4427-9531-696437338fe2",
              "name": "timestamp",
              "value": "={{$json[\"ประทับเวลา\"] \n\n $json[\"วันที่\"] \n\n \"-\"}}",
              "type": "string"
            },
            {
              "id": "85186bd9-9ae8-40e1-91f3-783b7a9d4a5e",
              "name": "fullname",
              "value": "={{$json[\"ชื่อ-นามสกุล\"] \n\n \"-\"}}",
              "type": "string"
            },
            {
              "id": "382a768c-26d1-4c9d-80e3-a3d51d39af8d",
              "name": "company",
              "value": "={{ (Object.keys($json).find(k => /บริษัท|หน่วยงาน/i.test(k.replace(/\\s/g,\"\"))) && $json[Object.keys($json).find(k => /บริษัท|หน่วยงาน/i.test(k.replace(/\\s/g,\"\")))]) || \"-\" }}",
              "type": "string"
            },
            {
              "id": "5029e839-3768-4415-873a-4263c572cb69",
              "name": "phone",
              "value": "={{$json[\"เบอร์โทร\"] || $json[\"เบอร์โทรศัพท์\"] || \"-\"}}",
              "type": "string"
            },
            {
              "id": "38e269b9-cd53-4c28-a25b-e0a332f3c157",
              "name": "email",
              "value": "={{$json[\"Email\"] \n\n $json[\"email\"] \n\n \"-\"}}",
              "type": "string"
            },
            {
              "id": "ffb98ecc-4f82-4877-b9ba-9fc823ba4fdd",
              "name": "itemName",
              "value": "={{$json[\"รายชื่ออุปกรณ์\"] \n\n $json[\"รายชื่อ - อุปกรณ์\"] \n\n \"-\"}}",
              "type": "string"
            },
            {
              "id": "98ec57ca-0c20-424d-a011-1a08c1a173f8",
              "name": "quantity",
              "value": "={{ Number($json[\"จำนวน\"] ?? $json[\"Qty\"] ?? 1) }}",
              "type": "number"
            },
            {
              "id": "d40ff7d2-c91f-4904-91e6-520a75a6eb4d",
              "name": "assetTag",
              "value": "={{ $json[\"เลขเครื่อง (asset_tag)\"] || $json[\"เลขเครื่อง(asset_tag)\"] || \"-\" }}\n\n",
              "type": "string"
            },
            {
              "id": "7bdae9b7-f3cb-45ee-ba8c-a2af94807896",
              "name": "status",
              "value": "={{ $json[\"สถานะคำขอ\"] || \"รอตรวจรับ\" }}",
              "type": "string"
            },
            {
              "id": "d8213968-421f-441a-96ff-b426a00d6e9e",
              "name": "approvedBy",
              "value": "=={{$json[\"ผู้อนุมัติ\"] || \"-\"}}",
              "type": "string"
            },
            {
              "id": "34544e39-7ef7-4a62-926b-0511c282b618",
              "name": "adminNote",
              "value": "={{ $json[\"หมายเหตุแอดมิน\"] ?? \"-\" }}",
              "type": "string"
            },
            {
              "id": "356ae147-db17-434d-a548-00e28d759582",
              "name": "rowNumber",
              "value": "={{ $json.row_number \n\n $json.rowNumber \n\n \"-\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        832
      ],
      "id": "0ec7ae93-844d-4f0c-944e-abbfc4b4f23a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        576,
        832
      ],
      "id": "de22cda2-f4ce-41d1-ae1f-39689afaa89e",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "content": "Flow- : แสดงข้อมูลการคืนอุปกรณ์\n\n",
        "height": 80,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        848
      ],
      "typeVersion": 1,
      "id": "0d643a59-28e2-475d-97bb-32a7191e4b2a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1JQIEu8vcwteRopkAzGlBRjmu7WPbjGq2YwLwHC7Xnf8",
          "mode": "list",
          "cachedResultName": "From- IT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JQIEu8vcwteRopkAzGlBRjmu7WPbjGq2YwLwHC7Xnf8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2049651687,
          "mode": "list",
          "cachedResultName": "คืนอุปกรณ์",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JQIEu8vcwteRopkAzGlBRjmu7WPbjGq2YwLwHC7Xnf8/edit#gid=2049651687"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        400
      ],
      "id": "e726b8f5-75c0-4185-835f-c5666dc35ddc",
      "name": "Google Sheets Trigger2",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "FsFWW6XP91FTS3ih",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const j = item.json;\n\n  const clean = (s) =>\n    String(s || \"\")\n      .replace(/[\\s\\u200B-\\u200D\\uFEFF]/g, \"\")\n      .toLowerCase();\n\n  const findValue = (keywordGroups, fallback = \"-\") => {\n    const keys = Object.keys(j);\n    for (const key of keys) {\n      const ck = clean(key);\n      const matched = keywordGroups.some((group) =>\n        group.every((kw) => ck.includes(clean(kw)))\n      );\n      if (matched) {\n        const v = j[key];\n        if (v !== undefined && v !== null && String(v).trim() !== \"\") {\n          return String(v).trim();\n        }\n      }\n    }\n    return fallback;\n  };\n\n  const fullname = findValue([[\"ชื่อ\"], [\"นามสกุล\"]], \"-\");\n  const company = findValue([[\"บริษัท\"], [\"หน่วยงาน\"]], \"-\");\n  const phone = findValue([[\"เบอร์\", \"โทร\"], [\"โทรศัพท์\"], [\"เบอร์โทร\"]], \"-\");\n  const emailUser = findValue([[\"email\"]], \"-\");\n  const itemName = findValue([[\"รายการ\", \"อุปกรณ์\"], [\"อุปกรณ์\"]], \"-\");\n  const quantity = findValue([[\"จำนวน\"]], \"-\");\n  const assetTag = findValue([[\"asset\", \"tag\"], [\"เลขเครื่อง\"]], \"-\");\n\n  // วันที่คืน\n  let returnDate = findValue([[\"ประทับเวลา\"], [\"วันที่\", \"คืน\"], [\"วันที่\"]], \"-\");\n  const serial = Number(returnDate);\n  if (!Number.isNaN(serial) && serial > 1000) {\n    const excelEpoch = new Date(1899, 11, 30);\n    const dt = new Date(excelEpoch.getTime() + serial * 86400000);\n    returnDate = dt.toLocaleString(\"th-TH\");\n  }\n\n  const status = findValue([[\"สถานะ\"], [\"คำขอ\"]], \"รอตรวจรับ\");\n\n  // แจ้งเฉพาะ admin\n  j.mailToAdmin = \"sakkarat.tai@gmail.com\"; // เปลี่ยนเป็นเมล admin จริงถ้าต้องการ\n  j.mailSubjectAdmin = \"มีคำขอคืน Laptop ใหม่\";\n  j.mailBodyAdmin =\n`มีคำขอคืนอุปกรณ์ใหม่\n\nวันที่คืน: ${returnDate}\nชื่อ-นามสกุล: ${fullname}\nบริษัท/หน่วยงาน: ${company}\nเบอร์โทร: ${phone}\nอีเมลผู้คืน: ${emailUser}\nรายการอุปกรณ์: ${itemName}\nจำนวนที่คืน: ${quantity}\nเลขเครื่อง (Asset Tag): ${assetTag}\nสถานะ: ${status}\n\nกรุณาเข้าหน้า Admin เพื่อตรวจรับรายการคืน`;\n\n  return item;\n});\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        400
      ],
      "id": "f19c65ee-f8a5-4b7c-be16-2e48931f729b",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "sendTo": "={{$json.mailToAdmin}}",
        "subject": "={{$json.mailSubjectAdmin}}",
        "emailType": "text",
        "message": "={{$json.mailBodyAdmin}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        400
      ],
      "id": "dfe1ddf6-ede2-4a91-929b-e3f6dcebf13a",
      "name": "Send a message2",
      "webhookId": "d456d432-7996-4809-ad66-73cb6c51787d",
      "credentials": {
        "gmailOAuth2": {
          "id": "B1y4g9VhhdtsocB1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "Flow-3 : คืนอุปกรณ์และแจ้งadmin\n",
        "height": 80,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        416
      ],
      "typeVersion": 1,
      "id": "e8dad359-af11-403d-84ec-294005e84284",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2f885939-5a67-4ee6-a45a-fd60d4f5303d",
  "meta": {
    "instanceId": "0a125e46a1edc7517d26c8d300f96f70d272b51c3b9cad0afdd928849901f792"
  },
  "id": "22aDxD5KASRti3ow",
  "tags": []
}